#product-router.product.page(data-title="Product: Better Than A Router")

  .page-header
    .number 01
    
  .page-content
    .illustrations
      img.illustration.device(
        width="901"
        height="901"
        src="/images/pages/product-router.png"
        srcset="/images/pages/product-router@2x.png 2x"
      )
      img.illustration.border(
        width="901"
        height="901"
        src="/images/pages/product-router-border.png"
        srcset="/images/pages/product-router-border@2x.png 2x"
      )

  .page-footer
    .texts
      h1.title Better Than A
        .bold Router
      p.text While Nodio delivers Internet to your devices on the highest speed, it also protects them. All your connections run through Nodio, even those that go through public WIFI spots.

    include ../../navigation/next.pug