#product.product.page(data-title="Product: Meet your digital guardian")

  .page-content
    h1.title Meet your digital 
      .bold guardian
        .dot
    .illustrations
      img.illustration.image-1#hoverable(
        width="1004"
        height="1006"
        src="/images/pages/product-1.png"
        srcset="/images/pages/product-1@2x.png 2x"
      )
      .illustration.hover-1.next-link-additional
      img.illustration.image-2(
        width="1004"
        height="1006"
        src="/images/pages/product-2.png"
        srcset="/images/pages/product-2@2x.png 2x"
      )
      img.illustration.image-3(
        width="1004"
        height="1006"
        src="/images/pages/product-3.png"
        srcset="/images/pages/product-3@2x.png 2x"
      )
    .texts
      p.subtitle Nodio is a unique device
        br
        | with a mission to keep you, your data and your possessions safe.
   
      p.text It is a secured, blockchain-based router that works with the applications developed on Xana platform. 
        br
        | The main advantage of Nodio is in the decentralized structure, which protects its users from online threats.
        
  include ../../navigation/next.pug