svg(
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="60"
    height="60"
    viewBox="0 0 60 60"
  )
  path.logo-inner.item-1(d='M30,24.498c0.829,0,1.5,0.672,1.5,1.5c0,0.829-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5C28.499,25.17,29.172,24.498,30,24.498z')
  path.logo-inner.item-2(d='M34.001,28.499c0.829,0,1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5S33.173,28.499,34.001,28.499z')
  path.logo-inner.item-3(d='M30,32.5c0.829,0,1.5,0.672,1.5,1.5c0,0.829-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5C28.499,33.172,29.172,32.5,30,32.5z')
  path.logo-inner.item-4(d='M25.999,28.499c0.829,0,1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5c-0.829,0-1.5-0.672-1.5-1.5S25.17,28.499,25.999,28.499z')

  path.logo-middle.item-1(d='M30,16.871c0.622,0,1.125,0.504,1.125,1.125S30.621,19.122,30,19.122s-1.125-0.504-1.125-1.125S29.379,16.871,30,16.871z')
  path.logo-middle.item-2(d='M34.001,20.497c0.829,0,1.5,0.672,1.5,1.5c0,0.829-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5C32.5,21.169,33.173,20.497,34.001,20.497z')
  path.logo-middle.item-3(d='M38.002,24.498c0.829,0,1.5,0.672,1.5,1.5c0,0.829-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5C36.501,25.17,37.174,24.498,38.002,24.498z')
  path.logo-middle.item-4(d='M42.003,28.874c0.622,0,1.125,0.504,1.125,1.125s-0.504,1.125-1.125,1.125S40.878,30.621,40.878,30C40.878,29.379,41.382,28.874,42.003,28.874z')
  path.logo-middle.item-5(d='M38.002,32.5c0.829,0,1.5,0.672,1.5,1.5c0,0.829-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5C36.501,33.172,37.174,32.5,38.002,32.5z')
  path.logo-middle.item-6(d='M34.001,36.501c0.829,0,1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5S33.173,36.501,34.001,36.501z')
  path.logo-middle.item-7(d='M30,40.878c0.622,0,1.125,0.504,1.125,1.125S30.621,43.128,30,43.128s-1.125-0.504-1.125-1.125S29.379,40.878,30,40.878z')
  path.logo-middle.item-8(d='M25.999,36.501c0.829,0,1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5c-0.829,0-1.5-0.672-1.5-1.5S25.17,36.501,25.999,36.501z')
  path.logo-middle.item-9(d='M21.998,32.5c0.829,0,1.5,0.672,1.5,1.5c0,0.829-0.672,1.5-1.5,1.5c-0.829,0-1.5-0.672-1.5-1.5C20.497,33.172,21.169,32.5,21.998,32.5z')
  path.logo-middle.item-10(d='M17.997,28.874c0.622,0,1.125,0.504,1.125,1.125s-0.504,1.125-1.125,1.125S16.871,30.621,16.871,30C16.871,29.379,17.375,28.874,17.997,28.874z')
  path.logo-middle.item-11(d='M21.998,24.498c0.829,0,1.5,0.672,1.5,1.5c0,0.829-0.672,1.5-1.5,1.5c-0.829,0-1.5-0.672-1.5-1.5C20.497,25.17,21.169,24.498,21.998,24.498z')
  path.logo-middle.item-12(d='M25.999,20.497c0.829,0,1.5,0.672,1.5,1.5c0,0.829-0.672,1.5-1.5,1.5c-0.829,0-1.5-0.672-1.5-1.5C24.498,21.169,25.17,20.497,25.999,20.497z')

  path.logo-outer.item-1(d='M30,9.244c0.414,0,0.75,0.336,0.75,0.75c0,0.414-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75C29.25,9.58,29.586,9.244,30,9.244z')
  path.logo-outer.item-2(d='M34.001,13.245c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75S33.587,13.245,34.001,13.245z')
  path.logo-outer.item-3(d='M38.002,16.871c0.622,0,1.125,0.504,1.125,1.125s-0.504,1.125-1.125,1.125s-1.125-0.504-1.125-1.125S37.381,16.871,38.002,16.871z')
  path.logo-outer.item-4(d='M42.003,20.872c0.622,0,1.125,0.504,1.125,1.125c0,0.622-0.504,1.125-1.125,1.125s-1.125-0.504-1.125-1.125C40.878,21.377,41.382,20.872,42.003,20.872z')
  path.logo-outer.item-5(d='M46.004,25.249c0.414,0,0.75,0.336,0.75,0.75c0,0.414-0.336,0.75-0.75,0.75c-0.414,0-0.75-0.336-0.75-0.75C45.254,25.585,45.59,25.249,46.004,25.249z')
  path.logo-outer.item-6(d='M50.005,29.25c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75S49.591,29.25,50.005,29.25z')
  path.logo-outer.item-7(d='M46.004,33.251c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75c-0.414,0-0.75-0.336-0.75-0.75S45.59,33.251,46.004,33.251z')
  path.logo-outer.item-8(d='M42.003,36.877c0.622,0,1.125,0.504,1.125,1.125s-0.504,1.125-1.125,1.125s-1.125-0.504-1.125-1.125C40.878,37.381,41.382,36.877,42.003,36.877z')
  path.logo-outer.item-9(d='M38.002,40.878c0.622,0,1.125,0.504,1.125,1.125s-0.504,1.125-1.125,1.125s-1.125-0.504-1.125-1.125S37.381,40.878,38.002,40.878z')
  path.logo-outer.item-10(d='M34.001,45.254c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75S33.587,45.254,34.001,45.254z')
  path.logo-outer.item-11(d='M30,49.255c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75S29.586,49.255,30,49.255z')
  path.logo-outer.item-12(d='M25.999,45.254c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75S25.585,45.254,25.999,45.254z')
  path.logo-outer.item-13(d='M21.998,40.878c0.622,0,1.125,0.504,1.125,1.125s-0.504,1.125-1.125,1.125c-0.622,0-1.125-0.504-1.125-1.125S21.377,40.878,21.998,40.878z')
  path.logo-outer.item-14(d='M17.997,36.877c0.622,0,1.125,0.504,1.125,1.125s-0.504,1.125-1.125,1.125s-1.125-0.504-1.125-1.125C16.871,37.381,17.375,36.877,17.997,36.877z')
  path.logo-outer.item-15(d='M13.996,33.251c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75S13.582,33.251,13.996,33.251z')
  path.logo-outer.item-16(d='M9.995,29.25c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75c-0.414,0-0.75-0.336-0.75-0.75S9.58,29.25,9.995,29.25z')
  path.logo-outer.item-17(d='M13.996,25.249c0.414,0,0.75,0.336,0.75,0.75c0,0.414-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75C13.245,25.585,13.582,25.249,13.996,25.249z')
  path.logo-outer.item-18(d='M17.997,20.872c0.622,0,1.125,0.504,1.125,1.125c0,0.622-0.504,1.125-1.125,1.125s-1.125-0.504-1.125-1.125C16.871,21.377,17.375,20.872,17.997,20.872z')
  path.logo-outer.item-19(d='M21.998,16.871c0.622,0,1.125,0.504,1.125,1.125s-0.504,1.125-1.125,1.125c-0.622,0-1.125-0.504-1.125-1.125S21.377,16.871,21.998,16.871z')
  path.logo-outer.item-20(d='M25.999,13.245c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75S25.585,13.245,25.999,13.245z')

  path.logo-border(d='M30,0L0,30l30,30l30-30L30,0z M1.485,30L30,1.485L58.515,30L30,58.515L1.485,30z')
