#contacts.page(data-title="Contact us")
  .page-content
    h1.header Contact us
    form.message(method="post" action="/send.php")
      .input-wrap
        input(
          type="email"
          name="email"
          placeholder="E-mail"
        )
        .point.top.left
        .point.top.right
        .point.bottom.left
        .point.bottom.right
      textarea(
        name="message"
        placeholder="Message"
      )
      button(type="submit") Send
        .point.top.left
        .point.top.right
        .point.bottom.left
        .point.bottom.right

    form.subscribe(method="post" action="/send.php")
      .form-content-wrap
        .point.top.left
        .point.top.right
        h2 Get Involved!
        input(
          type="hidden"
          name="type"
          value="subscribe"
        )
        .input-wrap
          input(
            type="email"
            name="email"
            placeholder="E-mail"
          )
          .point.top.left
          .point.top.right
          .point.bottom.left
          .point.bottom.right
        p.text Subscribe to receive an occasional newsletter about Nodio. We value your privacy and guarantee to keep your email address safe.

      button.subscribe(type="submit") SUBSCRIBE FOR A NEWSLETTER
        .point.top.left
        .point.top.right
        .point.bottom.left
        .point.bottom.right

    .socials
      .social.facebook
        svg
          use(xlink:href="#facebook")
        a.wrap(
          href="http://facebook.com"
          title="Facebook"
        )
          .point.top.left
          .point.top.right
          .point.bottom.left
          .point.bottom.right
      .social.twitter
        svg
          use(xlink:href="#twitter")
        a.wrap(
          href="http://twitter.com"
          title="Twitter"
        )
          .point.top.left
          .point.top.right
          .point.bottom.left
          .point.bottom.right
      .social.slack
        svg
          use(xlink:href="#slack")
        a.wrap(
          href="http://slack.com"
          title="Slack"
        )
          .point.top.left
          .point.top.right
          .point.bottom.left
          .point.bottom.right
      .social.reddit
        svg
          use(xlink:href="#reddit")
        a.wrap(
          href="http://reddit.com"
          title="Reddit"
        )
          .point.top.left
          .point.top.right
          .point.bottom.left
          .point.bottom.right
      .social.github
        svg
          use(xlink:href="#github")
        a.wrap(
          href="http://github.com"
          title="Github"
        )
          .point.top.left
          .point.top.right
          .point.bottom.left
          .point.bottom.right
      .social.btt
        svg
          use(xlink:href="#btt")
        a.wrap(
          href="http://btt.com"
          title="Btt"
        )
          .point.top.left
          .point.top.right
          .point.bottom.left
          .point.bottom.right
      .nodio nodioproject

    .links
      a.link.modal-link(href="#modal-terms") Terms of Use
      .delimiter
      a.link.modal-link(href="#modal-policy") Privacy Policy